<aside class="sidebar bg-white border-end">
    <div class="p-3">
        <nav class="nav flex-column mb-3">
            <a class="nav-link active" href="/club/<%= club.id %>/dashboard">Dashboard</a>
            <a class="nav-link" href="/club/<%= club.id %>/players">Jugadores</a>
            <a class="nav-link" href="/club/<%= club.id %>/tournaments">Torneos</a>
            <!-- Add more club admin specific links here -->
        </nav>
    </div>
</aside>
<div class="sidebar-overlay"></div>