<aside class="sidebar bg-white border-end">

  <div class="p-3">


    <nav class="nav flex-column mb-3">
      <a class="nav-link active" href="/admin/dashboard">Dashboard</a>
      <a class="nav-link" href="#" target="_blank">Wallshow (ver)</a>
      <a class="nav-link" href="/admin/clubs">Clubes</a>
      <a class="nav-link" href="/admin/users">Usuarios</a>
      <a class="nav-link" href="#">Facturación</a>
      <a class="nav-link" href="#">Ajustes</a>
    </nav>


    <hr />

    <div class="text-muted small">Soporte</div>
    <div class="small mt-2">
      <i class="fas fa-envelope me-1"></i> hola@padelmanager.example
    </div>

    <div class="sidebar-footer p-3 d-lg-none">
      <button class="btn btn-light w-100" id="hideSidebarBtn"><i class="fas fa-arrow-left me-2"></i>
        Ocultar</button>
    </div>

  </div>

</aside>
<div class="sidebar-overlay"></div>